{{define "searchRes"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{.Title}}</title>
</head>
<body class="container">
    <ol class="my-5">
        {{range .Animes}}
        {{if eq .Status "anons"}}
            <li>{{.Name}} <strong>Anons</strong></li>
        {{else}}
            <li><a href="/anime/{{.ID}}/1">{{.Name}}</a></li>
        {{end}}
        {{end}}
    </ol>
</body>
</html>
{{end}}